/* Header start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .container{
            display: flex;
    }
    
    nav{
            background-color: black;
            height: 50px;
            padding-top: 15px;
            padding-left: 50%;
            width: 100%;
    }
    nav a{
            font-size: 18px;
        text-decoration: none;
        color: white;
        margin-left: 4%;
    
    }
    nav a::before{
            content: "";
            width: 50px;
            height: 1px;
            position: absolute;
            background-color: brown;
            top:40px;
            bottom:0;
            left:10;
            transform-origin:right;
            transition: transform .8s ease-in-out;	
            transform: scaleX(0);
    }
    nav a:hover::before
            {
                
                transform-origin:left;
                transform: scaleX(1);
            }
                    /* Header end */



/* gallerystart */
body{
    background-color: #ecf0f3;
}
.container-gallery{
    margin: 10px auto;
    width: 90%;
    /* background-color: rgb(83, 85, 85); */
    

}
.container-gallery h1{
    padding: 30px 0px;
    color: #555;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.col{
    flex-basis: 50%;
    min-height: 250px;
   
}
.gallery-video video{
    overflow: hidden;
    width: 90%;
    margin: auto;
     position: relative;
    border-radius: 6px;
    height: 300px;
    
     

}
.small-video-row {
    display: flex;
    background-color: darkgray;
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
    
}

.small-video-row p{
    margin-left: 12px;
    margin-top: 5px;
    color: #555;
    line-height: 19px;
    font-size: 16px;
}
.small-video-row  #name{
    margin-left: 17px;
margin-top: 10px;
}
.small-video-row .small-video video{
    width: 150px;
    border-radius: 6px;
}
.small-video {
    position: relative;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 23%;
    top: 40%;
    cursor: pointer;

}
.small-video .play-btn{
    width: 30px;
    position: absolute;
    left: 40%;
    top: 25%;
    cursor: pointer;
}

/* galleryend */


                    /* footerstart */
                    *{
                        margin: 0;
                        padding: 0;
                        font-family: 'Courier New', Courier, monospace;
                        box-sizing: border-box;
                    }
                    .footer{
                        margin-top: 10px;
                        padding: 100px 15%;
                        width: 100%;
                        height: 400px;
                        background-color:#000000 ;
                        color: whitesmoke;
                        cursor: pointer;
                        display: flex;
                    }
                    .footer a{
                        text-decoration: none;
                        display: flex;
                        color: whitesmoke;
                        cursor: pointer;
                        margin: 10px;
                    }
                    .footer div{
                        text-align: center;
                    }
                    .col-2{
                        flex-grow: 2;
                    }
                    .footer div h3{
                    font-weight: 300;
                    margin-bottom: 30px;
                    letter-spacing: 1px;
                    }
                    form input{
                        width: 300px;
                        height: 40px;
                        margin-top: 20px;
                        margin-bottom:50px ;
                        text-align: center;
                        border-radius: 4px;
                        outline: none;
                        border: none;
                    }
                    form button{
                        background: transparent;
                        border: 1px solid rgb(77, 58, 58);
                        border-radius: 30px;
                        padding: 20px;
                        color: #fff;
                        font-size: 15px;
                        cursor: pointer;
                        padding: 10px 30px;
                    }
                    /* footerend */